.menu{
    width: 100%;
    height: 80px;
    background-color: rgb(14, 14, 90);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 250px;
    height: 120px; 
}

.logo-image{
    width: 60%;
    height: 100%;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart{
    width: 230px;
    height: 40px;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 4px ;
    cursor: pointer;
}

.cart-image{
    width: 20%;
    height: 100%;
    background-image: url(../images/cart.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.cart > a {
    width: 70%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cart:hover{
    background-color: rgb(1, 66, 104);
}