@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Work+Sans:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Balsamiq+Sans&family=Comfortaa:wght@300&family=Courgette&family=Grape+Nuts&family=Hubballi&family=Oswald:wght@200&family=Roboto:wght@100&family=Rock+Salt&family=Send+Flowers&family=Source+Sans+Pro:wght@200&display=swap');
@import url(./menu.css);
@import url(./card.css);
@import url(./footer.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    background: rgb(214,235,228);
    background: linear-gradient(23deg, rgba(214,235,228,1) 35%, rgb(220, 221, 248) 81%);
}